name: Build and Push to GCR

on:
  push:
    branches: [ main ]

jobs:
  terraform:
    name: Create GCR
    runs-on: ubuntu-latest

    outputs:
      registry_url: ${{ steps.tfout.outputs.registry }}

    steps:
    - uses: actions/checkout@v4

    - name: Auth to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      working-directory: terraform
      run: terraform init

    - name: Terraform Apply
      working-directory: terraform
      run: |
        terraform apply -auto-approve \
          -var="project_id=${{ vars.GCP_PROJECT_ID }}"

    - name: Terraform Output
      id: tfout
      working-directory: terraform
      run: |
        echo "registry=$(terraform output -raw registry_url)" >> $GITHUB_OUTPUT
        
  build:
    needs: terraform
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Auth to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build Image
        run: |
          REGISTRY=${{ vars.GCP_REGION }}-docker.pkg.dev/${{ vars.GCP_PROJECT_ID }}/${{ vars.ARTIFACT_REPO }}
          # ---------------- PATIENT ----------------
          docker build \
            -t $REGISTRY/patient-service:${{ github.sha }} \
            -t $REGISTRY/patient-service:latest \
            patient-service
      
          docker push $REGISTRY/patient-service:${{ github.sha }}
          docker push $REGISTRY/patient-service:latest
      
      
          # ---------------- ORDER ----------------
          docker build \
            -t $REGISTRY/order-service:${{ github.sha }} \
            -t $REGISTRY/order-service:latest \
            order-service
      
          docker push $REGISTRY/order-service:${{ github.sha }}
          docker push $REGISTRY/order-service:latest   
  deploy:
    name: Deploy to GKE
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          
      - name: Setup gcloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          install_components: gke-gcloud-auth-plugin    

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials \
            ${{ vars.GKE_CLUSTER }} \
            --zone ${{ vars.GKE_ZONE }} \
            --project ${{ vars.GCP_PROJECT_ID }}

      - name: Deploy Patient Service
        run: |
          sed "s|IMAGE_PLACEHOLDER|${{ vars.GCP_REGION }}-docker.pkg.dev/${{ vars.GCP_PROJECT_ID }}/${{ vars.ARTIFACT_REPO }}/patient-service:${{ github.sha }}|g" \
          k8s/patient-deployment.yaml | kubectl apply -f -
      
      - name: Deploy Order Service
        run: |
          sed "s|IMAGE_PLACEHOLDER|${{ vars.GCP_REGION }}-docker.pkg.dev/${{ vars.GCP_PROJECT_ID }}/${{ vars.ARTIFACT_REPO }}/order-service:${{ github.sha }}|g" \
          k8s/order-deployment.yaml | kubectl apply -f -   
